* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url('../img/Harry-Ainlay_background-1600x700.png') no-repeat center fixed;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0 20px;
  margin-bottom: 200px;
}

/* NAV */
nav {
  background: url('../img/Harry-Ainlay_background-1600x700.png') no-repeat center fixed;
  background-size: cover;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 15px 0;
}

nav .wrapper {
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
}

nav a#logo {
  color: white;
  font-size: 1.25rem;
  letter-spacing: 2px;
}

nav a.nav-link {
  color: white;
  margin-left: 0.8rem;
  font-size: 1.1rem;
  letter-spacing: 1.1px;
}

nav a.active {
  color: #f5bd08;
}

/* 
nav a#js-ref {
  color: #F5BD08;
  border: 1px solid #F5BD08;
  padding: 5px 15px;
  border-radius: 50px;
}

nav a#js-ref:hover {
  color: #FACF44;
  border: 1px solid #FACF44;
} */

nav img {
  vertical-align: middle;
}

/* Header */
header {
  text-align: center;
  padding: 25px 0 50px;
}

header h1 {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 3px;
  font-size: 2.3rem;
  margin-bottom: 1.25rem;
}

header p.lead {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 1.15px;
  margin-bottom: 1.25rem;
}

header p.motto {
  color: #f5bd08;
  letter-spacing: 1.1px;
  font-variant: small-caps;
  font-size: 1.25rem;
}

/* Sections */
section {
  max-width: 1000px;
  margin: auto;
  background: white;
  padding: 10px 20px 50px;
  border-radius: 15px;
  margin-bottom: 35px;
  color: #333;
  counter-reset: a;
}

section h2 {
  margin: 1.5rem 0 1rem;
  color: #444;
}

section h4 {
  margin-top: 20px;
  color: #444;
}

section p.descr {
  margin: 10px 0 15px;
}

section a.item {
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
  font-size: 1rem;
}

section a.item:hover {
  background: #c29500;
  color: white;
}

section i {
  margin-right: 10px;
}

section ol {
  counter-increment: a;
  counter-reset: b;
  list-style: none;
  columns: 1;
}

section .li-div::before {
  position: absolute;
  top: 3px;
  left: 0;
  font-family: Consolas, Lucida Console, Menlo, Monaco, monospace;
  font-size: 0.75rem;
  line-height: 1rem;
  counter-increment: b;
  content: counter(a) '.'counter(b) ' ';
}

section .li-div {
  position: relative;
  padding-left: 38px;
  margin-bottom: 5px;
}

section a {
  text-decoration: none;
  color: #0059b2;
}

section a:hover {
  text-decoration: underline;
  color: #9E3300;
}

section a.btn {
  display: inline-block;
  /* background: #9E3300; */
  /* color: white; */
  border: 1px solid #9e3300;
  text-decoration: none;
  border-radius: 50px;
  padding: 5px 10px;
}

section a.btn:hover {
  background: #742600;
}

.topic-heading {
  color: #c29500;
}

.red {
  color: #9E3300;
}

.asgn-link {
  font-weight: 600;
}


/* Media Queries */
@media (min-width: 768px) {
  header h1 {
    font-size: 3rem;
  }

  section {
    padding: 50px 100px 75px;
  }

  section a.item {
    font-size: 1.15rem;
  }

  section ol {
    columns: 2;
  }
}