main {
  background: white;
  max-width: 1000px;
  margin: 20px auto 100px;
  padding: 20px 20px 50px;
  border-radius: 15px;
  color: #444;
}

main a.back-link {
  text-decoration: none;
  color: #9E3300;
}

main a.back-link:hover {
  text-decoration: underline;
}

main div.title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

main h1 {
  font-variant: small-caps;
  margin: 1rem 0 0.5rem;
}

main i {
  margin-right: 2px;
}

main a#yt-link {
  display: inline-block;
  background: #9E3300;
  color: white;
  text-decoration: none;
  border-radius: 50px;
  padding: 5px 10px;
  margin-top: 0.75rem;
  font-size: 0.9rem;
}

main a#yt-link:hover {
  background: #742600;
}

main hr {
  margin: 1rem auto;
}

/* Style for Lesson Descriptions - not sure I need it here  */
main p.description {
  margin-bottom: 0.15rem;
}

main p.concept-list {
  font-style: italic;
  color: #777;
  font-size: 0.9rem;
  margin-top: 0;
}

/* *********************************** */

main h2 {
  letter-spacing: 0.5px;
  font-variant: small-caps;
  margin: 2rem 0 1.5rem;
}

main h3,
main h4 {
  margin: 1rem 0;
  font-variant: small-caps;
}

main ul,
main ol {
  padding-left: 25px;
}

main p,
main ul {
  line-height: 1.75rem;
  margin: 1rem 0;
}

main a.btn {
  text-decoration: none;
  /* display: inline-block; */
  border: 1px solid #9E3300;
  border-radius: 25px;
  padding: 0 15px;
  color: #9E3300;
}

main a.btn:hover {
  background: #9E3300;
  color: white;
}

main a {
  text-decoration: none;
  color: #0059b2;
}

main a:hover {
  text-decoration: underline;
  color: #9E3300;
}

.w-100 {
  width: 100%;
}

.w-80 {
  width: 100%;
}

.w-60 {
  width: 100%;
}

.w-40 {
  width: 100%;
}

.w-20 {
  width: 100%;
}

.img-fluid {
  width: 100%;
}

.img-fluid-max {
  width: 100%;
}

.topic-heading {
  color: #C29500;
}

.summary {
  color: #742600;
}

.check {
  color: #286600;
}

.attention {
  color: #F5BD08;
}

.attention-box {
  border: 1px solid #BBB;
  border-radius: 5px;
  padding: 0 20px 15px;
  background: #FFD;
}

/* Media Queries */
@media (min-width: 768px) {
  main {
    padding: 20px 75px 25px;
  }

  main div.title {
    flex-direction: row;
    align-items: center;
  }

  main a#yt-link {
    margin-top: 2rem;
  }

  .img-fluid-max {
    width: 60%;
  }

  .w-100 {
    width: 100%;
  }

  .w-80 {
    width: 80%;
  }

  .w-60 {
    width: 60%;
  }

  .w-40 {
    width: 40%;
  }

  .w-20 {
    width: 20%;
  }
}