main {
  background: white;
  max-width: 800px;
  margin: 20px auto 100px;
  padding: 5px 20px 25px;
  border-radius: 15px;
  color: #444;
}

main h1 {
  font-variant: small-caps;
  margin: 1.5rem 0 0.5rem;
}

main hr {
  margin: 1rem auto;
}

main h2 {
  letter-spacing: 0.5px;
  font-variant: small-caps;
  margin: 2rem 0 0.25rem;
}

main h3,
main h4 {
  margin: 1rem 0;
}

main ul,
main ol {
  padding-left: 40px;
}

main p,
main ul {
  line-height: 1.75rem;
  margin: 1rem 0;
}

.img-fluid {
  width: 100%;
}

.img-fluid-max {
  width: 100%;
}

.topic-heading {
  color: #C29500;
}

.summary {
  color: #742600;
}

.check {
  color: #286600;
}

/* Media Queries */
@media (min-width: 768px) {
  main {
    padding: 5px 75px 25px;
  }

  .img-fluid-max {
    width: 60%;
  }
}