/* CSS VARIABLES */
:root {
  /* --orange: #FB9C1B; */
  --orange: #CF7902;
  --dark-orange: #A35E00;
  --dark-red: #742600;
  --blue: #1B65A2;
  --green: #286600;
  --yellow: #F5BD08;
}

/* UNIVERSAL, BODY, WRAPPER, UTILITIES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url('/hacs/img/Harry-Ainlay_background-1600x700.png') no-repeat center fixed;
  background-size: cover;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, */
  /* Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  color: #444;
  padding: 0 20px;
  margin-bottom: 200px;
}

.wrapper {
  max-width: 1000px;
  margin: auto;
}

.img-fluid-60 {
  width: 60%;
}

/* NAVIGATION */
nav {
  background: url('/hacs/img/Harry-Ainlay_background-1600x700.png') no-repeat center fixed;
  background-size: cover;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 15px 0;
  margin-bottom: 2rem;
}

nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
}

nav a#logo {
  color: white;
  font-size: 1.1rem;
  letter-spacing: 1.5px;
}

nav a.nav-link {
  color: white;
  margin-left: 0.4rem;
  font-size: 1rem;
  letter-spacing: 1px;
}

nav a:hover {
  color: var(--orange);
}

nav a.active {
  color: var(--orange);
}

nav img {
  vertical-align: middle;
}

/* MAIN HEADING */
h1.main-heading {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.15rem;
  color: white;
  margin-bottom: 3rem;
}

/* FLEX CONTAINER */
.flex-container {
  display: flex;
  flex-direction: column;
}

.left-column {
  flex: 3;
}

.right-column {
  flex: 1
}

/* SECTION HEADING */
h2.section-heading {
  color: var(--orange);
  font-size: 1.6rem;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  padding-bottom: 1rem;
  font-variant: small-caps;
  letter-spacing: 1.5px;
}

h2.section-heading:not(:first-of-type) {
  margin-top: 2rem;
}

/* DROPDOWN UNIT */
.unit {
  background: white;
  margin-bottom: 0.6rem;
  border-radius: 5px;
}

.dropdown {
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-title {
  font-size: 1rem;
  color: var(--dark-red);
  border-radius: 5px;
}

.active-drop,
.dropdown:hover {
  background-color: var(--orange);
  color: white;
}

.panel {
  padding: 1.5rem;
  display: none;
}

.panel p {
  margin-bottom: 1rem;
}

.panel a {
  display: block;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: 1px solid #999;
  border-radius: 5px;
  color: #444;
  margin-bottom: 0.25rem;
}

.panel a:hover {
  background: var(--blue);
  color: white;
}

.panel i {
  margin-right: 0.5rem;
  color: var(--orange);
}

.dropdown:after {
  font-family: "Font Awesome 5 Free";
  content: '\f078';
  font-size: 1rem;
  color: var(--dark-red);
  font-weight: 900;
}

.dropdown:hover:after {
  color: white;
}

.active-drop:after {
  content: "\f077";
  color: white;
}

/* RIGHT COLUMN VOCABULARY */
.right-column h4 {
  color: var(--orange);
  font-size: 1.5rem;
  font-weight: 400;
  font-family: Raleway, sans-serif;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.right-column a {
  color: white;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

.right-column a:hover {
  color: var(--orange);
}

.right-column ul {
  list-style-type: none;
}

.right-column hr {
  border: 0.25px solid rgba(255, 255, 255, 0.7);
  width: 60%;
  margin: 0.5rem 0 0.5rem 0;
}

/* CONTENT STYLE */
.content {
  background: white;
  border-radius: 10px;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* BACK LINK */
.content a.back-link {
  color: var(--dark-red);
  text-decoration: none;
}

.content a.back-link:hover {
  text-decoration: underline;
}

/* CONTENT HEADER */
.content h1 {
  font-size: 2rem;
  font-variant: small-caps;
  margin: 1rem 0 0.5rem;
}

/* .content BASIC STYLES */
.content hr {
  margin: 1rem 0;
}

.content p,
.content ul {
  margin: 1rem 0;
  line-height: 1.75rem;
}

.content ol,
.content ul {
  padding-left: 1.5rem;
}

.content h3,
.content h4 {
  font-variant: small-caps;
  margin: 1rem 0 0;
}

/* CONCEPT TITLE */
.content h2 {
  letter-spacing: 0.5px;
  font-variant: small-caps;
  margin: 2rem 0 1rem;
}

.content i {
  margin-right: 0.5rem;
}

.topic-heading {
  color: var(--orange);
}

.summary {
  color: var(--dark-red);
}

.check {
  color: var(--green);
}

/* ATTENTION BOX */
.attention-box {
  border: 1px solid #BBB;
  border-radius: 5px;
  padding: 0 20px 15px;
  background: #EEC;
}

.attention {
  color: var(--yellow);
}

/* RESPONSIVE YOUTUBE VIDS */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
  /* overflow: hidden; */
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.video-wrap {
  width: 100%;
  max-width: 560px;
}

/* CONCEPT NOTES CONTENT */
.notes-content h2:first-of-type {
  margin: 0.5rem 0 1rem;
}

.notes-content {
  counter-reset: a;
}

.notes-content ol {
  counter-increment: a;
  counter-reset: b;
  list-style: none;
  columns: 1;
}

.notes-content .li-div::before {
  position: absolute;
  top: 3px;
  left: 0;
  font-family: Consolas, Lucida Console, Menlo, Monaco, monospace;
  font-size: 0.75rem;
  line-height: 1rem;
  counter-increment: b;
  content: counter(a) '.'counter(b) ' ';
}

.notes-content .li-div {
  position: relative;
  padding-left: 38px;
  margin-bottom: 5px;
}

.notes-content ol.pl,
.notes-content ul.pl {
  padding-left: 0;
}

.notes-content a {
  text-decoration: none;
  color: var(--blue);
}

.notes-content a:hover {
  text-decoration: underline;
  color: var(--dark-red);
}


/* MEDIA QUERIES */
@media (min-width: 768px) {
  /* UTILITIES */
  .img-fluid-60 {
    width: 100%;
  }

  /* NAVIGATION */
  nav a#logo {
    font-size: 1.25rem;
    letter-spacing: 2px;
  }

  nav a.nav-link {
    margin-left: 0.8rem;
    font-size: 1.1rem;
    letter-spacing: 1.1px;
  }

  /* MAIN HEADING */
  h1.main-heading {
    font-size: 3rem;
  }

  /* DROPDOWNS */
  .dropdown-title {
    font-size: 1.25rem;
  }

  /* FLEX CONTAINER */
  .flex-container {
    flex-direction: row;
  }

  /* VOCABULARY */
  .right-column {
    text-align: right;
  }

  .right-column h4 {
    margin-top: 0;
  }

  .right-column hr {
    margin: 0.5rem 0 0.5rem auto;
  }

  /* CONTENT SECTION */
  .content {
    padding: 20px 75px 20px;
  }

  /* CONCEPT NOTES CONTENT */
  .notes-content ol {
    columns: 2;
  }
}