/* CSS VARIABLES */
:root {
  /* --orange: #FB9C1B; */
  --orange: #CF7902;
  --dark-orange: #A35E00;
  --dark-red: #742600;
  --blue: #1B65A2;
  --green: #286600;
  --yellow: #F5BD08;
}

/* UNIVERSAL, BODY, WRAPPER, UTILITIES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url('/hacs/img/Harry-Ainlay_background-1600x700.png') no-repeat center fixed;
  background-size: cover;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, */
  /* Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  color: #333;
  padding: 0 20px;
}

.wrapper {
  max-width: 800px;
  margin: auto;
}

hr {
  margin: 1rem auto;
}

i {
  margin-right: 0.5rem;
}

/* NAVIGATION */
nav {
  background: url('/hacs/img/Harry-Ainlay_background-1600x700.png') no-repeat center fixed;
  background-size: cover;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 15px 0;
  margin-bottom: 2rem;
}

nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
}

nav a {
  text-decoration: none;
}

nav a#logo {
  color: white;
  font-family: Raleway, sans-serif;
  letter-spacing: 1.5px;
}

nav a.nav-link {
  color: white;
  margin-left: 0.5rem;
  font-family: Montserrat, sans-serif;
  letter-spacing: 1px;
}

nav a:hover {
  color: var(--orange);
}

nav img {
  vertical-align: middle;
}

/* MAIN HEADING */
h1.main-heading {
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.15rem;
  color: white;
  margin-bottom: 2.5rem;
}

/* SECTION */
section {
  background: white;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 2rem;
}

section h2 {
  font-family: Montserrat, sans-serif;
  font-variant: small-caps;
}

section h2 i {
  color: var(--orange);
}

section p {
  margin-bottom: 1rem;
}

/* FLEX CONTAINER */
.flex-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flex-container div {
  flex: 1;
}

.flex-container h4 {
  font-family: Montserrat, sans-serif;
  margin-bottom: 0.5rem;
}

.flex-container a {
  display: block;
  border: 1px solid #BBB;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
}

.flex-container a:hover {
  background: var(--blue);
  color: white;
}

/* JS NOTES CONTENT */
.notes-content h2:first-of-type {
  margin: 0.5rem 0 1rem;
}

.notes-content {
  counter-reset: a;
}

.notes-content ol {
  margin-bottom: 2rem;
  counter-increment: a;
  counter-reset: b;
  list-style: none;
  columns: 1;
}

.notes-content .li-div::before {
  position: absolute;
  top: 5px;
  left: 0;
  font-family: Consolas, Lucida Console, Menlo, Monaco, monospace;
  font-size: 0.85rem;
  line-height: 1rem;
  counter-increment: b;
  content: counter(a) '.'counter(b) ' ';
}

.notes-content .li-div {
  position: relative;
  padding-left: 38px;
  margin-bottom: 5px;
}

.notes-content ol.pl,
.notes-content ul.pl {
  padding-left: 0;
}

.notes-content a {
  text-decoration: none;
  color: var(--blue);
}

.notes-content a:hover {
  text-decoration: underline;
  color: var(--dark-red);
}

/* MAIN HOME PAGE */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  padding: 20px;
  text-align: center;
}

main h1 {
  font-family: "Raleway", sans-serif;
  font-size: 3.5rem;
  color: white;
  letter-spacing: 4px;
  margin-bottom: 2rem;
}

main h2 {
  color: white;
  font-variant: small-caps;
  letter-spacing: 0.75px;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  margin-bottom: 2rem;
}


/* Course Links */

.courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.courses a {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  background-color: var(--orange);
  border-radius: 15px;
  color: white;
  padding: 10px 0;
  font-size: 1.25rem;
  box-shadow: 2px 2px var(--orange);
  width: 80%;
}

.courses a:hover {
  color: var(--orange);
  background-color: white;
}

/* NOTE PAGES */
a.back-link {
  display: inline-block;
  color: var(--dark-red);
  text-decoration: none;
  margin-bottom: 1.5rem;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {

  /* FLEX CONTAINER */
  .flex-container {
    flex-direction: row;
  }

  /* CONCEPT NOTES CONTENT */
  .notes-content ol {
    columns: 2;
  }

  /* HOME PAGE */
  main h1 {
    font-size: 4rem;
    margin-bottom: 3rem;
  }

  main h2 {
    font-size: 2.5rem;
    margin-bottom: 4rem;
  }

  .courses {
    flex-direction: row;
  }

  .courses a {
    font-size: 1.25rem;
  }
}