:root {
  /* --orange: #FB9C1B; */
  --orange: #cf7902;
  --dark-orange: #a35e00;
  --dark-red: #aa0d02;
  --darker-red: #8b0900;
  --blue: #1b65a2;
  --green: #286600;
  --yellow: #f5bd08;

  --ff-sans1: Raleway, sans-serif;
  --ff-sans2: Montserrat, sans-serif;
  --ff-mono: Consolas, Lucida Console, Menlo, Monaco, monospace;
}
